
<div class="outputAndSettings">

    <textarea id="mainOutput" class="mainoutput" rows="{{settings.numberOfRows}}" ng-model="mainOutput" ng-keydown="keyDown($event)" ng-keyup="keyUp($event)"></textarea>

    <div style="text-align:right;"><button class="copybutton" ng-click="clearMainOutput()">Clear</button><button class="copybutton" data-clipboard-target="#mainOutput">Copy</button></div>

    <div class="links"><a href="/#/settings" title="Settings">Settings</a> | <a href="/#/credits" title="Credits">Credits</a></div>

    <p ng-show="settings.showInstructions" class="instructions">Press <code>Ctrl</code> and then a number to select a keyboard, or press <code>Ctrl</code> and then an arrow to move between them.</p>

    <p ng-show="settings.showInstructions" class="instructions">Go to Settings for more keyboards.</p>

</div>

<div class="keyboard">
    <div class="keyboard-row">
        <div class="keyboard-key" ng-repeat="keyboard in availableKeyboards" ng-click="setKeyboard(keyboard)" ng-class="($index == $parent.currentKeyboardIndex)? 'keyboard-keyboardselected':''" title="{{keyboard.name}}">
            {{keyboard.abbreviatedName}}
        </div>
    </div>
    <div class="keyboard-row">
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:3.33em;">`</div>
        <letterkey class="keyboard-key keyboard-letterkey" ng-class="(key.isDown) ? 'keyboard-keydown' : ''" key="key" register="register" ng-repeat="key in currentKeyboard.row1Keys"></letterkey>
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:5em;" ng-class="(backspaceKeyIsDown)? 'keyboard-keydown':''" ng-click="clickBackspace()">←</div>
    </div>
    <div class="keyboard-row">
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:5em;" ng-class="(tabKeyIsDown)? 'keyboard-keydown':''" ng-click="clickTab()">↹</div>
        <letterkey class="keyboard-key keyboard-letterkey" ng-class="(key.isDown) ? 'keyboard-keydown' : ''" key="key" register="register" ng-repeat="key in currentKeyboard.row2Keys"></letterkey>
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:3.33em;"></div>
    </div>
    <div class="keyboard-row">
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:5.67em;" ng-class="(capsLockState == 1)? 'keyboard-keydown':''" ng-click="clickCapsLock()">caps</div>
          <letterkey class="keyboard-key keyboard-letterkey" ng-class="(key.isDown) ? 'keyboard-keydown' : ''" key="key" register="register" ng-repeat="key in currentKeyboard.row3Keys"></letterkey>
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:2.67em;"></div>
    </div>
    <div class="keyboard-row">
        <div class="keyboard-key keyboard-nonletterkey" style="width:4em;" ng-class="(shiftState == 1)? 'keyboard-keydown':''" ng-click="clickShift()" ng-dblclick="doubleClickShift()">↑</div>
        <letterkey class="keyboard-key keyboard-letterkey" ng-class="(key.isDown) ? 'keyboard-keydown' : ''" key="key" register="register" ng-repeat="key in currentKeyboard.row4Keys"></letterkey>
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:7.88em;" ng-class="(shiftState == 1)? 'keyboard-keydown':''" ng-click="clickShift()" ng-dblclick="doubleClickShift()">↑</div>
    </div>
    <div class="keyboard-row">
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:3.33em;" ng-class="(controlState == 1)? 'keyboard-keydown':''" ng-click="clickControl()">ctrl</div>
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:3.33em;">fn</div>
        <div class="keyboard-key keyboard-nonletterkey" style="width:4em;" ng-class="(altState == 1)? 'keyboard-keydown':''" ng-click="clickAlt()" ng-dblclick="doubleClickAlt()">alt</div>
        <div class="keyboard-key keyboard-nonletterkey" style="width:27.7em;" ng-class="(spaceKeyIsDown)? 'keyboard-keydown':''" ng-click="clickSpace()"></div>
        <div class="keyboard-key keyboard-nonletterkey showformobile" style="width:4em;" ng-class="(backspaceKeyIsDown)? 'keyboard-keydown':''" ng-click="clickBackspace()">←</div>
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:4.67em;" ng-class="(altState == 1)? 'keyboard-keydown':''" ng-click="clickAlt()" ng-dblclick="doubleClickAlt()">alt gr</div>
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:3.33em;">fn</div>
        <div class="keyboard-key keyboard-nonletterkey hideformobile" style="width:3.33em;" ng-class="(controlState == 1)? 'keyboard-keydown':''" ng-click="clickControl()">ctrl</div>
    </div>
</div>