<h2>Settings</h2>

<table class="settings">
    <tr>
        <th>Keyboards</th>
        <td>
            <div ng-repeat="keyboard in keyboards" class="availablekeyboard">
                <input type="checkbox" ng-model="keyboard.isSelected" id="keyboard-{{keyboard.reference}}" />
                <label for="keyboard-{{keyboard.reference}}">{{keyboard.name}}</label>
            </div>
        </td>
    </tr>
    <tr>
        <th>Number of Rows in Output Textbox</th>
        <td><input  type="number" min="2" max="20" step="1" ng-model="settings.numberOfRows"/></td>
   </tr>
    <tr>
        <th>Show Instructions</th>
        <td><input  type="checkbox" ng-model="settings.showInstructions"/></td>
    </tr>
</table>

<div class="links"><a href="/#/" title="Back to keyboard">&larr; Back to keyboard</a></div>