<h2>Settings</h2>

<table class="settings">
    <tr>
           <th>Keyboards</th>
        <td>
            <div ng-repeat="keyboard in keyboards"     class="availablekeyboard">
                <input type="checkbox" ng-model="keyboard.isSelected" id="keyboard-{{keyboard.reference}}" />
                       <label for="keyboard-{{keyboard.reference}}">{{keyboard.name}}</label>
            </div>
        </td>
     </tr>
</table>

<div class="links"><a href="/#/" title="Back to keyboard">&larr; Back to keyboard</a></div>