body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #202020;
    margin: 0px 0px 200px 0px;
    padding: 0px;
}

.centrecolumn {
    max-width: 1000px;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6, p, textarea {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

h1 {
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin: 14px 0px;
    position: relative;
}

h2 {
    font-size: 17px;
    text-align: center;
    margin: 14px 0px;
}

p {
    font-size: 12px;
    text-align: center;
    margin: 14px 0px;
}

    p code {
        display: inline-block;
        background-color: #F4F4F4;
        border: 1px solid #F0F0F0;
        border-radius: 2px;
        padding: 2px 4px;
        font-family: Consolas, 'Courier New', monospace;
        font-weight: normal;
    }

th, td {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

a {
    color: #105ecc;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }


@media (min-width:400px) {

    h1 {
        font-size: 22px;
        margin: 70px 0px;
    }

    h2 {
        font-size: 20px;
        margin: 20px 0px;
    }


    p {
        font-size: 14px;
        margin: 20px 0px;
    }

    th, td {
        font-family: inherit;
        font-weight: inherit;
        color: inherit;
    }
}


.donatebutton {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #f98816;
    color: #FFFFFF;
    border-radius: 2px;
    font-size: 17px;
    font-weight: normal;
    padding: 7px 17px;
    text-transform: none;
    user-select: none;
    margin-top: -4px;
}

    .donatebutton:hover {
        background-color: #fca44b;
    }

    .donatebutton a {
        color: inherit;
        padding: 0px;
        display: inline;
    }



.copybutton {
    font-size: 14px;
    padding: 4px 14px;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: #105ecc;
    border: none;
    cursor: pointer;
    margin-left: 6px;
}

    .copybutton:hover {
        background-color: #2f7ae2;
    }


@media (min-width:400px) {


    .donatebutton {
        display: inline-block;
    }


    .copybutton {
        font-size: 17px;
        padding: 7px 17px;
    margin-left: 5px;
    }
}

.outputAndSettings {
    padding: 0px 7px;
}

.instructions {
    display: none;
}

.mainoutput {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #DADADA;
    border-radius: 2px;
    font-size: 14px;
    outline: none;
    margin: 0px;
         font-family:Arial, sans-serif;
}

    .mainoutput:focus {
        border: 1px solid #105ecc;
    }

.links {
    margin: 14px 0px;
    text-align: center;
    font-size: 12px;
}

@media (min-width:400px) {

    .outputAndSettings {
        padding: 0px;
    }

    .instructions {
        display: block;
    }

    .mainoutput {
        padding: 20px;
        font-size: 20px;
    font-family: 'Times New Roman';
    }

    .links {
        margin: 20px 0px;
        font-size: 14px;
    }
}

.keyboard {
    font-size: 14px;
    margin: 20px 0px 100px 0px;
    background-color: #F0F0F0;
    padding: 1px;
}

@media (min-width:400px) {

    .keyboard {
        font-size: 20px;
        margin: 40px -2px 200px -2px;
        background-color: transparent;
        padding: 0px;
    }
}

.keyboard-row {
    display: flex;
    flex-direction: row;
}

.keyboard-key {
    display: inline-block;
    padding: 0.5em;
    background-color: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin: 2px;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    font-weight: normal;
    position: relative;
    font-family: Arial, sans-serif;
}


.keyspace {
    display: inline-block;
    padding: 0em;
    border: none;
    margin: 2px;
    box-sizing: border-box;
    user-select: none;
    font-weight: normal;
    position: relative;
    font-family: Arial, sans-serif;
}

.keyboard-letterkey {
    width: 3.33em;
}

.keyboard-keydown {
    background-color: #F4F4F4;
    background-image: linear-gradient( #F0F0F0, #F4F4F4, #F2F2F2);
}

.keyboard-keyboardselected{
       background-color:#105ecc;
          color:#FFFFFF;
}

@media (min-width:400px) {


    .keyboard-key {
        padding: 1em;
        background-color: #FAFAFA;
        background-image: linear-gradient(#F7F7F7, #FAFAFA, #F9F9F9);
        border: 1px solid #E8E8E8;
        border-radius: 2px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
        margin: 2px;
        font-family: 'Times New Roman';
    }

        .keyboard-key:hover {
            border: 1px solid #C0C0C0;
        }

    .keyboard-letterkey {
        width: 3.33em;
    }

    .keyboard-keydown {
        border: 1px solid #E1E1E1;
    }
    

.keyboard-keyboardselected{
    background-color: #F4F4F4;
    background-image: linear-gradient( #F0F0F0, #F4F4F4, #F2F2F2);
        border: 1px solid #E1E1E1;
          color: inherit;
}
}


.keyboard-key-uppershift, .keyboard-key-alternateuppershift, .keyboard-key-alternatelowershift {
    position: initial;
    display: inline-block;
}

.greyedout {
    display: none;
}

.hideformobile {
    display: none;
}


@media (min-width:400px) {

    .keyboard-key-uppershift, .keyboard-key-alternateuppershift, .keyboard-key-alternatelowershift {
        position: absolute;
        display: block;
        width: 0.67em;
        padding: 0.17em 0.33em;
        text-align: center;
    }

    .keyboard-key-uppershift {
        top: 0em;
        left: 0em;
        height: 1.67em;
    }

    .keyboard-key-alternateuppershift {
        top: 0em;
        right: 0em;
        height: 1.67em;
    }

    .keyboard-key-alternatelowershift {
        bottom: 0em;
        right: 0em;
        height: 1.15em;
    }

    .hideformobile {
        display: block;
    }

    .showformobile {
        display: none;
    }

    .greyedout {
        display: block;
        color: #D0D0D0;
    }
}

.settings {
    margin: 20px auto;
    max-width: 700px;
    border: 1px dashed #D0D0D0;
    border-radius: 2px;
}

    .settings th {
        padding: 7px 20px 7px 27px;
    }

    .settings td {
        padding: 7px;
    }

.availablekeyboard {
    background-color: #F7F7F7;
    padding: 7px 10px;
    margin: 2px;
    border-radius: 2px;
    font-weight: normal;
}

.settings input[type=number] {
    box-sizing: border-box;
    padding: 7px 10px;
    margin: 2px;
    border: 1px solid #DADADA;
    border-radius: 2px;
    font-size: 14px;
    outline: none;
    font-family: inherit;
}
