body {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    color: #202020;
    margin: 0px;
    padding: 0px;
}

.centrecolumn {
    width: 1000px;
    margin: 0px auto;
}

h1, h2, h3, h4, h5, h6, p, textarea {
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

h1 {
    font-size: 22px;
    text-transform: uppercase;
    text-align: center;
    margin: 70px 0px;
}

h2 {
    font-size: 20px;
    text-align: center;
    margin: 20px 0px;
}

p{
    font-size: 14px;
    text-align: center;
    margin: 20px 0px;

}

th, td{
    font-family: inherit;
    font-weight: inherit;
    color: inherit;

}

a{
      color:#105ecc;
         text-decoration:none;
}

a:hover{
      text-decoration:underline;
}

.mainoutput {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #DADADA;
    border-radius: 2px;
    font-size: 20px;
    outline: none;
         font-family:'Times New Roman';
 }

.mainoutput:focus{
           border:1px solid #105ecc;
}

.links{
       margin:20px 0px;
                     text-align:center;
    font-size: 14px;

}

.keyboard {
    font-size: 20px;
    margin: 40px -2px 200px -2px;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
}

.keyboard-key {
    display: inline-block;
    padding: 1em;
         background-color:#FAFAFA;
         background-image: linear-gradient( #F7F7F7, #FAFAFA, #F9F9F9);
    border: 1px solid #F0F0F0;
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    margin: 2px;
    text-align: center;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;
    font-weight: normal;
    position: relative;
    font-family: 'Times New Roman';
}

.keyboard-letterkey {
    width: 3.33em;
}

    .keyboard-key:hover {
        border: 1px solid #D0D0D0;
    }

    .keyboard-keydown{
        background-color: #F4F4F4;
         background-image: linear-gradient( #F0F0F0, #F4F4F4, #F1F1F1);
    border: 1px solid #E9E9E9;

    }


.keyboard-key-uppershift, .keyboard-key-alternateuppershift, .keyboard-key-alternatelowershift {
    position: absolute;
    display: block;
    width: 0.67em;
    padding: 0.17em 0.33em;
    text-align: center;
}

.keyboard-key-uppershift {
    top: 0em;
    left: 0em;
    height: 1.67em;
}

.keyboard-key-alternateuppershift {
    top: 0em;
    right: 0em;
    height: 1.67em;
}

.keyboard-key-alternatelowershift {
    bottom: 0em;
    right: 0em;
    height: 1.15em;
}

.greyedout{
    color:#D0D0D0;
}

.settings{
       margin: 20px auto;
              max-width:700px;
                      border:1px dashed #D0D0D0;
                         border-radius:2px;
}

.settings th, .settings td{
          padding: 7px;
}

.availablekeyboard{
      background-color:#F7F7F7;
           padding:7px 10px;
     margin:2px;
        border-radius:2px;
          font-weight:normal;
}